@charset "utf-8";

body{
    background: var(--main_w);
    overflow: hidden;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    height: auto;
    width: 80%;
    background: var(--w);
    border-radius: var(--border2);
}
.headerContent,
.footerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padd2);
    border-bottom: 1px solid var(--grey1);
    margin: 1em 1em 0 1em;
}
.footerContent{
    border-bottom: 0;
    border-top: 1px solid var(--grey1);;
}
.infoCalc{
    cursor: pointer;
}
.searchContent{
    border: 1px solid var(--grey1);
    border-radius: var(--border1);
    padding: var(--paddButton);
    min-width: 20vw;
}
.addStock{
    outline: none;
    background: none;
    border: 0;
    font-size: var(--font4_2);
    cursor: pointer;
    padding: 0.2em;
    border-radius: 100%;
    transition: var(--transition3);
}
.scrollableContent{
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 0 var(--padd2);
    margin: 1em 0;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
}
.amountAll{position: relative}
